<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OC和js交互.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AE2452E1CBC970100864A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AE245471CBC970100864A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AE245521CBC970100864A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
