<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>属性_swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A15A5E81D0FAE2F00A70322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15A5FC1D0FAE2F00A70322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15A6071D0FAE3000A70322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
